@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@300 & display=swap');

header {
    background-color: #0a1238;
    text-align: center;
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
}

.head {
    display: flex;
}
.head img {
    width: 45px;
    height: 45px;
    margin-left: 20px;
    margin-top: 15px;
}
.head label {
    margin-left: 100px;
    justify-content: center center;
    color: #ffff;
}

.head p {
    margin-top: 25px;
    color: #ffff;
    font-weight: bold;
    font-size: 20px;
    margin-left: 15px;
}

.nav {
    margin-top: 25px;
    position: absolute;
    left: 83%;
}

.link {
    text-decoration: none;
    font-weight: bold;
    margin-left: 35px;
    color: #ffff;
}

.nav ul {
    display: flex;
    list-style: none;
}

.nav ul li {
    margin-left: 20px;
}

.nav ul li a {
    text-decoration: none;
    color: #ffff;
    padding: 8px;
}

.nav ul li a:hover {
    color: #0a1238;
    border-radius: 5px;
    padding: 8px;
    background-color: #ffff;
}

.fondo{
    background-image: url(../img/eric-rothermel-FoKO4DpXamQ-unsplash.jpg);
    background-size: 100%;
}

.logo{
    margin-left: 175px;
    display: flex;
    margin-top: 20px;
}
.form{
background-color: #fff;
margin-top: 80px;
width: 500px;
height: 670px;
border-style:groove;
border-radius: 2%;
}
.txto{
    text-align: left;
    margin-top: 20px;
    margin-bottom: -15px;
}
.txtoo{
    text-align: left;
    margin-bottom: -15px;
}
.clinks{
    display: flex;
    padding-left: 6px;
}
.links{
    text-decoration: none;
    margin-top: 10%;
}
.rows{
    margin-top: -25px;
}
.logics{
    margin-top: 12px;
}
.informacion{
    width: 380px;
    height: 400px;
    margin-top: -20px;
}
.contact{
    margin-top: 25px;
}
.row{
    text-align: left;
}

.btn-outline-{
    background-color: #0a1238;
}

footer {
    background-color: #0a1238;
    text-align: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
}
.foot {
    display: flex;
}
.foot img {
    width: 75px;
    height: 75px;
    margin-left: 20px;
}
.foot label {
    justify-content: center center;
    color: #ffff;
    margin-top: 7px;
    
}

.foot p {
    color: #ffff;
    margin-top: 5px;
    margin-bottom: -5px;
}

.redes {
    margin-left: 1250px;
}

.red {
    width: 35px;
    height: auto;
    margin-left: 25px;
    margin-top: 15px;
}
/*--- Medidas de Ipads ---*/
@media screen and (max-width: 1024px) {
    .nav{
        margin-left: -20%;
    }
    .form{
        margin-top: 20%;
    }
    .fondo {
		margin: 0;
		padding: 0;
		background-image: url(../img/eric-rothermel-FoKO4DpXamQ-unsplash.jpg);
		font-family: "Open Sans", sans-serif;
		overflow-x: none;
		background-size: 1900px;
		background-repeat: no-repeat;
	}
    .footer{
        height: 6%;
    }
    .redes{
        margin-left: 40%;
    }
    .footer{
        margin-top: -100px;
    }
}

@media screen and (max-width: 768px){
    .nav{
        margin-left: -34%;
    }
    .form{
        margin-top: 12%;
    }
    .fondo {
		margin: 0;
		padding: 0;
		background-image: url(../img/eric-rothermel-FoKO4DpXamQ-unsplash.jpg);
		font-family: "Open Sans", sans-serif;
		overflow-x: none;
		background-size: 1900px;
		background-repeat: no-repeat;
	}
    .footer{
        height: 80px;
    }
    .redes{
        margin-left: 25%;
    }
    .footer{
        margin-top: -100px;
    }
}

/*--- Medidas de Iphone ---*/
@media screen and (max-width: 430px) {
    body{
        background-image: url(../img/eric-rothermel-FoKO4DpXamQ-unsplash.jpg);
        background-size: contain;
    }
    .nav{
        margin-left: -57%;
    }
    .nav ul li {
        margin-left: 5px;
    }
    .head{
        margin-left: -5%;
        font-size: 15px;
    }
    .head p{
        font-size: 15px;
    }
    .link{
        font-size: 12px;
    }
    .form{
        width: 90%;
        margin-top: 30%;
        margin-bottom: -25%;
    }
    .txtoo{
        width: 80%;
        height: 25px;
        text-align: center;
    }
    .clinks{
        width: 80%;
    }
    .informacion{
        margin-left: 3px;
    }
    .row{
        width: 70%
    }
    .txto{
        width: 80%;
        height: 25px;
        text-align: center;
    }
    .cols{
        width: 245px;
    }
    .footer{
        bottom: auto;
        margin-top: 50%;
    }
    .texto{
        margin-top: 10px;
        font-size: 10px;
        height: 25px;
    }
    .redes{
        margin-right: 20px;
        margin-left: 2%;
        margin-top: 10px;
    }
    .red{
        width: 15px;
    }
    
    .log{
        width: 10px;
        height: auto;
    }
}
@media screen and (max-width: 320px) {

    .form{
        margin-top: 25%;
    }
    header{
        margin-left: -1px;
        top: -12px;
    }
    .head{
        margin-left: -7%;
    }
    .nav{
        margin-left: -44%;
    }
    .link{
        font-size: 10px;
    }
    .informacion{
        margin-left: -20px;
        width: 114%;
    }
    .nav ul li a{
        padding: 0%;
        margin-left: 9px;
    }
    .head p{
        margin-left: 2px;
        font-size: 12px;
    }
    .nav ul{
        margin-top: -6px;
    }
    .contact{
        margin-top: 23px;
        font-size: 21px;
    }
    .txtoo{
        height: 25px;
        font-size: 12px;
        margin-right: 7px;
    }
    .row>* {
        margin-right: 8px;
    }
    .links{
        font-size: 12px;
        margin-right: 9px;
    }    
    .txto{
        margin-right: -2px;
        font-size: 12px;
    }
    .rows{
        margin-right: 6px;
        margin-top: 2-25px;
    }
    .cols{
        width: 193px;
    }
    .boton{
        margin-right: 3%;
    }
    .footer{
        height: 9%;
    }
    .foot img{
        width: 40px;
        height: 40px;
        margin-left: -1px;
        margin-top: 3px;
    }
    .foot p{
        font-size: 7px;
    }
    .texto{
        margin-top: 5px;
        font-size: 7px;
    }
    .foot{
        margin-top: -2px;
    }
    .redes{
        margin-right: -6px;
        margin-top: -1px;
    }
    }
    /*--- Medidas portatil ----*/
    @media screen and (min-width: 1280px){
        .form{
            margin-top: 33px;
            height: 635px;
        }
        .redes{
            margin-left: 50%;
        }
        .contact{
            margin-top: 6px;
        }
        .informacion{
            margin-top: -46px;
        }
        center{
            margin-top: 5%;
        }

    }
    @media screen and (min-width: 2304px) {
        .form{
            margin-top: 10%;
        }
        .redes{
            margin-left: 72%;
        }
    }
    @media screen and (min-width: 2560px) {
        .redes{
            margin-left: 75%;
        }
        .head p{
            font-size: 25px;
            margin-top: 17px;
        }
        .footer{
            height: 6%;
        }
        .head img{
            width: 60px;
            height: 60px;
            margin-left: 20px;
            margin-top: 7px;
        }
        form{
            margin-top: 4%;
        }
        .form{
            margin-top: 13%;
            width: 30%;
            height: 725px;
        }
        .informacion{
            width: 468px;
        }
        .form-control{
            height: 72%;
        }
        .txtoo{
            font-size: 18px;
        }
        .txto{
            font: 18px;
        }
        .clinks{
            margin-top: 3%;
        }
        .fondo{
            background-size: 100%;
            width: 100%;
            height: 100%;
        }
        
    }